<%= content_tag(:h1, class: "text-center") do %>
    <%= "#{display_name(@user)}'s Profile Page" %>
<% end %>

<ul>
    <% @projects.each do |p| %>
        <li><%= link_to p.name, project_path(p) %></li>
    <% end %>
</ul>