<div class='col-6'>
    <%= link_to "Edit Project", edit_project_path(@project), class: "link-warning text-decoration-none" %>
    <%= link_to "Delete Project", project_path(@project), method: :delete, class: "link-danger text-decoration-none" %>
</div>