
<div class='row'>
    <div class='col'></div>
    <div class='col-6'>
        <%= welcome_message(current_user) %>
    </div>
    <div class='col'></div>
</div>

<hr class="mx-auto col-6">

<%= render 'form' %>