<div class="row">
    <div class="col">
    Other projects from user.name
    </div>
    <div class="col-6">
        <%= render partial: "project", locals: {project: @project, youtube_attributes: "&autoplay=1&mute=1"} %>
    </div>
    <div class="col">
        comments?
    </div>
</div>

