<div class="row g-2">
<div class="col">
    Other projects from user.name
</div>
<div class="col-6">
    <div class="ratio ratio-16x9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= youtube_id(@project) %>?rel=0" allowfullscreen>Alt text</iframe>
    </div>
    <%= content_tag(:h1, @project.name) %>
</div>
<div class="col">
    comments?
</div>
</div>


