<%= content_tag(:h1, class: "text-center") do %>
    <%= "#{@phase.name} Projects" %>
<% end %>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <%= render(partial: "projects/project", collection: @projects) || empty_collection_hanlder %>
</div>