<% if instance.errors.any? %>
    <h2><%= pluralize(instance.errors.count, "error")  %>:</h2>
        <ul>
            <% instance.errors.full_messages.each do |message| %>
                <%= content_tag( :li, message) %>
            <% end %>
        </ul>
<% end %>
